<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xacarana.ahorcado">

    <application
        android:allowBackup="true"
        android:name="com.xacarana.ahorcado.util.Datos"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity
            android:name="com.xacarana.ahorcado.Main"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.xacarana.ahorcado.SeleccionCategoria" android:screenOrientation="landscape" />
        <activity android:name="com.xacarana.ahorcado.Juego" android:screenOrientation="landscape" />
        <activity android:name="com.xacarana.ahorcado.SeccionPuntaje" android:screenOrientation="landscape"></activity>
    </application>
</manifest>
